.not-found-section {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}
.not-found-un-order-list-container {
  max-width: 40%;
  display: flex;
}
.not-found-list {
  flex-wrap: wrap;
  max-width: 200px;
}
.not-found-list {
}
